<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS document</title>
    <style>
        body{
            margin-left: 20px;
        }
    </style>
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <p>
         second value is : <%= seconds %>
    </p>
    <% if(seconds%2===0){ %>
        <ul>
            <% fruits.forEach((fruit)=> { %>
                <li>
                    <%= fruit %>
                </li>
                <% }); %>

        </ul>
        <% }else{ %>
            <p>There is nothing to display</p>
            <% } %>
        
       <p><%- htmlContent %></p>
        
       <%- include("footer.ejs") %>
</body>

</html>